/* ==========================================================================
   Default styles based on HTML5 boilerplate
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
}

div, a {
  display: block;
}

div, a, input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   General List and link styles
   ========================================================================== */   

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
   
li {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center right;
}
   
li a {
  color: #999999;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  background-position: 5px center;
  background-repeat: no-repeat;
}

li a:hover {
  color: #ffffff;
}   

.changed {
  background-image: url('../img/changed-indicator.svg');
}

/* ==========================================================================
   Main application button style
   ========================================================================== */
   
.button {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.button:hover,
.button-text:hover,
.button-active {
  background-color: #3fcdd2;
}

.button-text {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30%;
  cursor: pointer;
}

.button-text p {
  margin: 0;
  padding: 8px 25px 8px 10px;
}

.float-right {
  float: right;
  border-left: 1px solid #4d4d4d;
}

.float-left {
  float: left;
  border-right: 1px solid #4d4d4d;
}


/* ==========================================================================
   Form input fields
   ========================================================================== */

.field-container {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.8em;
}

.group-inline .field-container {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

.field-container .title,
.field-container .tooltip,
.field-container .field-item {
  display: inline-block;
}

.field-container .title h3 {
  margin: 0;
  font-size: 1rem;
}

.field-container .title p {
  font-weight: 600;
  padding: 0.45em 0em;
  color: #666666;
}

.field-container .tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  height: 25px;
  right: 200px;
  z-index: 10;
  padding-right: 7px;
  background: transparent url('../img/menu-tilted-square.svg') no-repeat center right;
}

.field-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 1.5s;
  -webkit-transition-property: opacity; 
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 1.5s;
}

.field-container .tooltip-body {
  height: 100%;
  padding-left: 25px;
  background: #343a42 url('../img/info-icon.svg') no-repeat center left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.field-container .tooltip a {
  padding: 0.45em 1em 0.45em 1em;
  height: 100%;
  color: #ffffff;
}

/*File item container holds the form element*/
.field-container .field-item {
  position: relative;
  height: 25px;
  width: 175px;
  overflow: hidden;
  margin: 0px 10px;
  background-color: #343a42;
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.field-container .align-left {
  float: left;
}

.field-container .align-right {
  float: right;
}

.field-container .field-item:hover,
.field-container .active {
  background-color: #53b9d9;
}

/*Icons*/
.field-container .file {
  background-image: url('../img/file-icon.svg');
}

.field-container .text,
.field-container .number {
  background-image: url('../img/edit-icon.svg');
}

.field-container .select {
  background-image: url('../img/select-icon.svg');
}

.field-container .button {
  background-image: url('../img/add-icon.svg');
}

/*General styles for all form elements*/
.field-container input, 
.field-container select, 
.field-container textarea {
  height: 100%;
	margin: 0; 
	outline: none;
	font-family: inherit;
	border: 0;
	width: 150px;
	padding: 0.4em;
	color: #ffffff;
	background-color: #56606f;
	cursor: pointer;
	appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.field-container input:active,
.field-container input:focus {
  background-color: #53b9d9;
}

/*Styles when formfields are disabled*/
.field-container .disabled {
  opacity: 0.5;
}

.field-container .disabled:hover {
  background-color:  #56606f;
}

/*Styles for select element*/
.field-container select {
  padding-left: 0.75em;
  -webkit-border-radius: 0px;
}

/*Styles for file input element*/
.field-container input[type=file]::-webkit-file-upload-button {
  width: 0; 
  padding: 0; 
  margin: 0;
  border: 0;
  -webkit-appearance: none; 
}

/*Styles for textarea */
.field-container .textarea {
  width: 99%;
  height: auto;
}

.field-container textarea { 
  width: 100%; 
}

/*Styles for buttons*/
.field-container .button {
  width: 135px;
}

.field-container input[type=button] {
  width: 110px;
  background-color: #53b9d9;
}

/*Styles for checkbox*/		
.field-container .checkbox {
  width: 25px;
  overflow: visible;
}

.field-container input[type=checkbox] {
  width: 25px;
  background-color: #343a42;
  padding: 11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.field-container input[type=checkbox]:checked {
  background: #343a42 url('../img/checked-icon.svg') no-repeat center center;
}

.field-container input[type=checkbox]:hover {
  background-color: #53b9d9;
}

.field-container .active input[type=checkbox],
.field-container .active input[type=checkbox]:checked {
  background-color: #53b9d9;
}

.field-container .active input[type=checkbox]:not(checked) {
  background-image: url('../img/close-icon-active.svg');
}

/*Styles for switch checkbox */
.field-container .switch {
	background-color: #53b9d9;
	width: 50px;
	height: 20px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
	border-radius: 10px;
}

.field-container .switch label {
  width: 50px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.8em;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.field-container .switch label:nth-of-type(1) {
	left: 5px;
	text-align: left;
	position: absolute;
}

.field-container .switch label:nth-of-type(2) {
  right: 7px;
  text-align: right;
  position: absolute;
}

.field-container .switch input {
	height: 20px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 50px;
	z-index: 2;
}

.field-container .switch input:checked~label:nth-of-type(1) { color: #53b9d9; }
.field-container .switch input:checked~label:nth-of-type(2) { color: #ffffff; }

.field-container .switch input:not(checked)~label:nth-of-type(1) { color: #ffffff; }
.field-container .switch input:not(checked)~label:nth-of-type(2) { color: #53b9d9; }

.field-container .switch input:checked~.toggle {
	left: 2px;
}

.field-container .switch input:not(checked)~.toggle {
	left: 31px;
}

.field-container .switch input:checked {
	z-index: 1;
}

.field-container .toggle {
	background: #ffffff;
	border-radius: 50%;
	height: 16px;
	width: 16px;
	left: 2px;
	top: 2px;
	position: absolute;
	-webkit-transition: left .2s ease;
	-moz-transition: left .2s ease;
	-ms-transition: left .2s ease;
	-o-transition: left .2s ease;
	transition: left .2s ease;
	z-index: 1;
}

@-moz-document url-prefix() {
  
  /*Mozilla specific overides. Needed to get input fields to style as 
   Firefox does not yet allow these to be styled*/
  .field-container input[type="file"] {
    padding: 0;
    margin-left: -80px;
    width: 230px;
  }
  
  .checked .checkbox {
    background-image: url('../img/checked-icon.svg');
  }
    
  .field-container .active {
    background-image: url('../img/checked-icon.svg');
  }
  
  .field-container .switch { /*NOTE, this decleration needs to be placed after the previous .active declaration to disable it for switch */
    background-image: none;
  }
  
  .checked .active {
    background-image: url('../img/close-icon-active.svg');
  }
  
  .field-container .switch:after {
    content: '';
    background: none;
  }
  
  .field-container input[type=checkbox] {
  	opacity: 0;
  	position: absolute;
  	z-index: 1;
  	top: 0;
  }
}

		
/* ==========================================================================
   Form main category navigation menu
   ========================================================================== */

#form-category-navigation li {
  height: 35px;
  border-bottom: 1px solid #4d4d4d;
  cursor: pointer;
}

#form-category-navigation a {
  padding: 10px 10px 10px 35px;
  background-position: 5px center;
  background-repeat: no-repeat;
  font-weight: 600;
}

#form-category-navigation a:hover,
#form-category-navigation li.active a {
  color: #3fcdd2;
}
 
/* ==========================================================================
   Header navigation menu and tooltips
   ========================================================================== */
   
.header-tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -40%;
  z-index: 10;
  background: transparent url('../img/menu-tilted-square.svg') no-repeat top center;
  padding-top: 9px;
  -webkit-transition: all .4s ease-in-out;
  -moztransition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button .header-tooltip {
  top: -4px;
  left: 40px;
  width: 150px;
  background: transparent url('../img/menu-tilted-square-active.svg') no-repeat 0px 13px;
}

.button .header-tooltip p {
  margin-left: 7px;
  color: #000000;
  font-size: 0.7rem;
  text-align: center;
}

#header .button-text:hover .header-tooltip {
  opacity: 1;
  visibility: visible;
}

#header .button:hover .header-tooltip {
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 1.0s;
  -webkit-transition-property: opacity; 
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 1.0s;
}

.header-tooltip ul,
.header-tooltip p {
  background-color: #313237;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 0px 5px 0px;
}

.header-tooltip p {
  background-color: #ffffff;
}

.header-tooltip li a {
  padding: 5px 10px 5px 40px;
}

.header-tooltip span {
  margin-left: 20px;
  padding: 0px 5px 0px 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #3fcdd2;
  font-weight: 600;
  color: #000000;
}

/* ==========================================================================
   Category sections. Container for form category description and form 
   category. Section are used to move different form categories in and out
   of view.
   ========================================================================== */

.category-container {
  display: none;
}

/* ==========================================================================
   Form main category description
   ========================================================================== */

.form-category-description {
  position: relative;
  height: 150px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #b3b3b3;
  overflow: hidden;
  color: #4d4d4d;
}

.form-category-description .description {
  position: absolute;
  z-index: 1;
  top: 25px;
  bottom: 25px;
  left: 70px;
  right: 180px;
  overflow: auto;
}

.form-category-description .description h2 {
  font-family: 'Lobster', cursive, sans-serif;
  margin: 0;
}   

.form-category-description .description p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-top: 10px;
}

.form-category-description .category-controls {
 float: right;
 margin: 35px;
}

.category-controls .field-container .field-item {
  margin: 0px 0px 5px 0px;
}

.form-category-description .large-icon {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 0;
  opacity: 0.25;
  top: -70px;
  left: -70px;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ==========================================================================
   Form catagories
   ========================================================================== */

.form-category {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 185px;
  overflow-y: auto;
  padding-bottom: 35px;
}

.form-category .level2 {
  margin-top: 20px;
}

.form-category .group-container {
  padding: 0px 60px 0px 70px;
}

.form-category .controls {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 35px;
  background-color: #E1E5ED;
  border-bottom: 1px solid #D2D5D8;
  cursor: pointer;
}

.form-category .controls .title {
  width: 100%;
  padding-left: 40px;
  margin-left: 10px;
  margin-right: auto;
  background-image: url('../img/up-icon.svg');
  background-repeat: no-repeat;
  background-position: center left;
}

.form-category .controls:hover .title,
.form-category .active .title {
  background-image: url('../img/down-icon-active.svg');
  background-repeat: no-repeat;
}

.form-category .controls:hover,
.form-category .active .controls {
  background-color: #56606F;
}

.form-category .controls h4 {
  margin: 0.45em;
}

.form-category .controls:hover h4,
.form-category .active .controls h4 {
  color: #E1E5ED;
}

.form-category .controls div {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.form-category .controls-tooltip {
 opacity: 0;
 visibility: hidden;
 position: absolute;
 left: -150px;
 z-index: 10;
 top: -4px;
 width: 150px;
 background: transparent url('../img/menu-tilted-square-active.svg') no-repeat 132px 13px;
 padding-top: 9px;
 -webkit-transition: all .4s ease-in-out;
 -moztransition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}

.form-category .controls-tooltip p {
  background-color: #ffffff;
  margin-right: 8px;
  color: #000000;
  font-size: 0.7rem;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 0px 5px 0px;
}

.form-category .controls .button {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #D2D5D8;
}

.form-category .controls .button:nth-child(2) {
  right: 35px;
}

.form-category .controls:hover .button,
.form-category .active .controls .button {
  border-left: 1px solid #757677;
}

.form-category .button:hover,
.form-category .button-text:hover {
  background-color: #56606F;
}

.form-category .button:hover .controls-tooltip {
  opacity: 1;
  visibility: visible;
}

.form-category .active .button:hover,
.form-category .active .button-text:hover {
  background-color: #53b9d9;
}

.form-category .level1 > .level1-container {
  display: none;
}

.form-category .active > .level1-container {
  display: block;
}


/* ==========================================================================
   Main absolute based block based layout syles
   ========================================================================== */

.row, .col {
 overflow: hidden;
 position: absolute;
}

.row {
 left: 0;
 right: 0;
}

.col {
 top: 0;
 bottom: 0;
}

.scroll-x {
 overflow-x: scroll;
}

.scroll-y {
 overflow-y: scroll;
}


/* ==========================================================================
   Header styles
   ========================================================================== */

#header {
  height: 35px;
  background-color: #313237;
}

#header .button {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

#header .button:hover,
#header .button-text:hover {
  background-color: #3fcdd2;
}

#header .button-text {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

#header .button-text p {
  margin: 0;
  padding: 8px 25px 8px 10px;
}

#header .float-right {
  float: right;
  border-left: 1px solid #4d4d4d;
}

#header .float-left {
  float: left;
  border-right: 1px solid #4d4d4d;
}


/* ==========================================================================
   Left sidepanel style
   ========================================================================== */

#sidebar.col {
  width: 185px;
  background-color: #313237;
}

#logo {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #00A7A7;
  background: url('../img/attract-logo.svg');
  background-color: #3fcdd2;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

#title {
  color: #ffffff;
  height: 35px;
  border-top: 2px solid #3fcdd2;
  border-right: 1px solid #4d4d4d;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
}

#title span.t1 {
  font-weight: 400;
}

#title span.t2 {
  font-weight: 300;
}

#download-button {
  position: absolute;
  bottom: 0;
  height: 35px;
  background-color: #029198;
  background-image: no-repeat;
  background-position: 97% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

#download-button p {
  background-color: #3fcdd2;
  display: block;
  font-weight: 600;
  font-size: 0.8rem;
  color: #4d4d4d;
  padding-top: 10px;
  text-align: center;
  height: 100%;
  margin-right: 35px;
}

#download-button p:hover {
  background-color: #ffffff;
}


/* ==========================================================================
   Main content block
   ========================================================================== */

#content {
  background-color: #ffffff;
}

#content.col {
  left: 185px;
  right: 0;
}


/* ==========================================================================
   Alert box
   ========================================================================== */
   
#confirmOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color: rgba(34,34,34,0.75);
	z-index:1000;
}

#confirmBox{
	background-color: #f1f1f1;
	width: 460px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -130px 0 0 -230px;
}

#confirmBox h1,
#confirmBox p{
	padding: 18px 25px;
}

#confirmBox h1 {
  margin: 0;
  background-color: #53B9D9;
	letter-spacing: 0.3px;
	color: #ffffff;
}

#confirmBox p{
	font-size: 1rem;
	line-height: 1.4;
	padding-top: 35px;
	color: #666;
}

#confirmButtons{
	padding: 15px 0 25px;
	text-align: center;
}

#confirmBox .button {
	display: inline-block;
	position: relative;
	height: 35px;
	width: 105px;
	margin-right: 15px;
	padding-top: 7px;
	text-align: center;
	text-decoration: none;
}

#confirmBox .button:last-child {
  margin-right: 0;
}

#confirmBox .blue {
  background-color: #53B9D9;
}

#confirmBox .blue:hover {
  background-color: #369AD1;
}

#confirmBox .gray {
  background-color: #56606F;
}

#confirmBox .gray:hover {
  background-color: #343A42;
}


/* ==========================================================================
   SVG Icons
   ========================================================================== */
   
.puzzle-icon {
  background-image: url('../img/puzzle-icon.svg');
}

.puzzle-icon:hover,
.active .puzzle-icon,
.puzzle-icon-active {
  background-image: url('../img/puzzle-icon-active.svg');
}

.grid-icon {
  background-image: url('../img/grid-icon.svg');
}

.grid-icon:hover,
.active .grid-icon,
.grid-icon-active {
  background-image: url('../img/grid-icon-active.svg');
}

.iteration-icon {
  background-image: url('../img/iteration-icon.svg');
}

.iteration-icon:hover,
.active .iteration-icon,
.iteration-icon-active {
  background-image: url('../img/iteration-icon-active.svg');
}

.sampling-icon {
  background-image: url('../img/sampling-icon.svg');
}

.sampling-icon:hover,
.active .sampling-icon,
.sample-icon-active {
  background-image: url('../img/sampling-icon-active.svg');
}

.energy-icon {
  background-image: url('../img/energy-icon.svg');
}

.energy-icon:hover,
.active .energy-icon,
.energy-icon-active {
  background-image: url('../img/energy-icon-active.svg');
}

.cryo-icon {
  background-image: url('../img/cryo-icon.svg');
}

.cryo-icon:hover,
.active .cryo-icon,
.cryo-icon-active {
  background-image: url('../img/cryo-icon-active.svg');
}

.symmetry-icon {
  background-image: url('../img/symmetry-icon.svg');
}

.symmetry-icon:hover,
.active .symmetry-icon,
.symmetry-icon-active {
  background-image: url('../img/symmetry-icon-active.svg');
}

.analysis-icon {
  background-image: url('../img/analysis-icon.svg');
}

.analysis-icon:hover,
.active .analysis-icon,
.analysis-icon-active {
  background-image: url('../img/analysis-icon-active.svg');
}

.computation-icon {
  background-image: url('../img/computation-icon.svg');
}

.computation-icon:hover,
.active .computation-icon,
.computation-icon-active {
  background-image: url('../img/computation-icon-active.svg');
}

.menu-icon {
  background-image: url('../img/menu-icon.svg');
}

.reload-icon {
  background-image: url('../img/reload-icon.svg');
}

.reload-icon:hover,
.active .reload-icon,
.reload-icon-active {
  background-image: url('../img/reload-icon-active.svg');
}

.close-icon {
  background-image: url('../img/close-icon.svg');
}

.close-icon:hover,
.active .close-icon,
.close-icon-active {
  background-image: url('../img/close-icon-active.svg');
}

.contact-icon {
  background-image: url('../img/contact-icon.svg');
}

.message-icon {
  background-image: url('../img/message-icon.svg');
}

.help-icon {
  background-image: url('../img/help-icon.svg');
}

.download-icon {
  background-image: url('../img/download-icon.svg');
}

.down-icon {
  background-image: url('../img/down-icon.svg');
}

.double-arrow-icon {
  background-image: url('../img/double-arrow-icon.svg');
}

.down-icon:hover,
.active .down-icon,
.down-icon-active {
  background-image: url('../img/down-icon-active.svg');
}

.up-icon {
  background-image: url('../img/up-icon.svg');
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 750px) {
  
  .form-category-description {
    height: 50px;
  }
  
  .form-category-description .description {
    display: none;
  }
  
  .form-category-description .category-controls {
   margin: 15px;
  }

  .category-controls .field-container {
    display: inline-block;
    width: 137px;
  }
  
  .form-category {
    top: 85px;
  }
  
  .category-controls .field-container {
    margin: 0;
  }
  
  #content.col {
    left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  
  .group-inline .field-container {
    width: 100%;
    float: none;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}