/* ==========================================================================
   Default styles based on HTML5 boilerplate
   ========================================================================== */

html {
  color: #222;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
}

div, a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   General List and link styles
   ========================================================================== */   

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
   
li {
  height: 25px;
  background-repeat: no-repeat;
  background-position: center right;
}
   
li a {
  color: #999999;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  background-position: 5px center;
  background-repeat: no-repeat;
}

li a:hover {
  color: #ffffff;
}   

/* ==========================================================================
   Documentation text styles
   ========================================================================== */

.doc-chapter {
  text-align: justify;
}

.doc-chapter p {
  margin-bottom: 1em;
}

.doc-chapter h2 {
  margin-top: 2em;
}

.doc-chapter h3 {
  margin: 0.5em 0;
}
   

/* ==========================================================================
   Main application button style
   ========================================================================== */
   
.button {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.button:hover,
.button-text:hover,
.button-active {
  background-color: #3fcdd2;
}

.button-text {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30%;
  cursor: pointer;
}

.button-text p {
  margin: 0;
  padding: 8px 25px 8px 10px;
}

.float-right {
  float: right;
  border-left: 1px solid #4d4d4d;
}

.float-left {
  float: left;
  border-right: 1px solid #4d4d4d;
}


/* ==========================================================================
   Form main category navigation menu
   ========================================================================== */

#form-category-navigation li {
  height: 35px;
  border-bottom: 1px solid #4d4d4d;
  cursor: pointer;
}

#form-category-navigation a {
  padding: 10px 10px 10px 35px;
  background-position: 5px center;
  background-repeat: no-repeat;
  font-weight: 600;
}

#form-category-navigation a:hover,
#form-category-navigation li.active a {
  color: #3fcdd2;
}
 
/* ==========================================================================
   Header navigation menu and tooltips
   ========================================================================== */

.header-tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -40%;
  z-index: 10;
  background: transparent url('../img/menu-tilted-square.svg') no-repeat top center;
  padding-top: 9px;
  -webkit-transition: all .4s ease-in-out;
  -moztransition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button .header-tooltip {
  top: -4px;
  left: 40px;
  width: 150px;
  background: transparent url('../img/menu-tilted-square-active.svg') no-repeat 0px 13px;
}

.button .header-tooltip p {
  margin-left: 7px;
  color: #000000;
  font-size: 0.7rem;
  text-align: center;
}

#header .button-text:hover .header-tooltip {
  opacity: 1;
  visibility: visible;
}

#header .button:hover .header-tooltip {
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 1.0s;
  -webkit-transition-property: opacity; 
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 1.0s;
}

.header-tooltip ul,
.header-tooltip p {
  background-color: #313237;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 0px 5px 0px;
}

.header-tooltip p {
  background-color: #ffffff;
}

.header-tooltip li a {
  padding: 5px 10px 5px 40px;
}

.header-tooltip span {
  margin-left: 20px;
  padding: 0px 5px 0px 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #3fcdd2;
  font-weight: 600;
  color: #000000;
}
/* ==========================================================================
   Category sections. Container for form category description and form 
   category. Section are used to move different form categories in and out
   of view.
   ========================================================================== */

.category-container {
  position: absolute;
  top: 35px;
  bottom: 0;
  overflow-y: auto;
  padding: 35px;
}

.row, .col {
 overflow: hidden;
 position: absolute;
}

.row {
 left: 0;
 right: 0;
}

.col {
 top: 0;
 bottom: 0;
}

.scroll-x {
 overflow-x: scroll;
}

.scroll-y {
 overflow-y: scroll;
}

/* Header */
#header {
  height: 35px;
  background-color: #313237;
}

#header .button {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

#header .button:hover,
#header .button-text:hover {
  background-color: #3fcdd2;
}

#header .button-text {
  position: relative;
  height: 100%;
  min-width: 35px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

#header .button-text p {
  margin: 0;
  padding: 8px 25px 8px 10px;
}

#header .float-right {
  float: right;
  border-left: 1px solid #4d4d4d;
}

#header .float-left {
  float: left;
  border-right: 1px solid #4d4d4d;
}

/* Left Sidebar */
#sidebar.col {
  width: 185px;
  background-color: #313237;
}

#logo {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #00A7A7;
  background: url('../img/attract-logo.svg');
  background-color: #3fcdd2;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

#title {
  color: #ffffff;
  height: 35px;
  border-top: 2px solid #3fcdd2;
  border-right: 1px solid #4d4d4d;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
}

#title span.t1 {
  font-weight: 400;
}

#title span.t2 {
  font-weight: 300;
}

/* Main content */
#content {
  background-color: #ffffff;
}

#content.col {
  left: 185px;
  right: 0;
}

/* ==========================================================================
   SVG Icons
   ========================================================================== */
   
.puzzle-icon {
  background-image: url('../img/puzzle-icon.svg');
}

.puzzle-icon:hover,
.active .puzzle-icon,
.puzzle-icon-active {
  background-image: url('../img/puzzle-icon-active.svg');
}

.grid-icon {
  background-image: url('../img/grid-icon.svg');
}

.grid-icon:hover,
.active .grid-icon,
.grid-icon-active {
  background-image: url('../img/grid-icon-active.svg');
}

.iteration-icon {
  background-image: url('../img/iteration-icon.svg');
}

.iteration-icon:hover,
.active .iteration-icon,
.iteration-icon-active {
  background-image: url('../img/iteration-icon-active.svg');
}

.sampling-icon {
  background-image: url('../img/sampling-icon.svg');
}

.sampling-icon:hover,
.active .sampling-icon,
.sample-icon-active {
  background-image: url('../img/sampling-icon-active.svg');
}

.energy-icon {
  background-image: url('../img/energy-icon.svg');
}

.energy-icon:hover,
.active .energy-icon,
.energy-icon-active {
  background-image: url('../img/energy-icon-active.svg');
}

.cryo-icon {
  background-image: url('../img/cryo-icon.svg');
}

.cryo-icon:hover,
.active .cryo-icon,
.cryo-icon-active {
  background-image: url('../img/cryo-icon-active.svg');
}

.symmetry-icon {
  background-image: url('../img/symmetry-icon.svg');
}

.symmetry-icon:hover,
.active .symmetry-icon,
.symmetry-icon-active {
  background-image: url('../img/symmetry-icon-active.svg');
}

.analysis-icon {
  background-image: url('../img/analysis-icon.svg');
}

.analysis-icon:hover,
.active .analysis-icon,
.analysis-icon-active {
  background-image: url('../img/analysis-icon-active.svg');
}

.computation-icon {
  background-image: url('../img/computation-icon.svg');
}

.computation-icon:hover,
.active .computation-icon,
.computation-icon-active {
  background-image: url('../img/computation-icon-active.svg');
}

.menu-icon {
  background-image: url('../img/menu-icon.svg');
}

.reload-icon {
  background-image: url('../img/reload-icon.svg');
}

.reload-icon:hover,
.active .reload-icon,
.reload-icon-active {
  background-image: url('../img/reload-icon-active.svg');
}

.close-icon {
  background-image: url('../img/close-icon.svg');
}

.close-icon:hover,
.active .close-icon,
.close-icon-active {
  background-image: url('../img/close-icon-active.svg');
}

.contact-icon {
  background-image: url('../img/contact-icon.svg');
}

.message-icon {
  background-image: url('../img/message-icon.svg');
}

.help-icon {
  background-image: url('../img/help-icon.svg');
}

.download-icon {
  background-image: url('../img/download-icon.svg');
}

.down-icon {
  background-image: url('../img/down-icon.svg');
}

.down-icon:hover,
.active .down-icon,
.down-icon-active {
  background-image: url('../img/down-icon-active.svg');
}

.up-icon {
  background-image: url('../img/up-icon.svg');
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 750px) {

 .form-category-description .description {
   display: none;
 }

 #content.col {
   left: 0;
 }
}

@media only screen and (max-width: 1000px) {

 .group-inline .field-container {
   width: 100%;
   float: none;
 }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
     background: transparent !important;
     color: #000 !important; /* Black prints faster: h5bp.com/s */
     box-shadow: none !important;
     text-shadow: none !important;
    }
    
    #container {
      padding: 40px;
    }
    
    row, .col {
     overflow: visible;
     position: relative;
    }
    
    #sidebar,
    #header {
      display: none;
    }
    
    #content,
    .category-container {
      margin: 0;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: visible;
    }
    
    #content.col {
      left: 0;
    }
      
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}